<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mixpanel</title>
    <meta charset="utf-8">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css">
    <style>
      html,body{}
      .graph{
        height: 300px,
        margin-bottom: 50px
      }
    </style>
    <!-- mixpanel lib include -->
    <script src="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js"></script>
    <!-- cloudflare chart lib include -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  </head>

  <body class="mixpanel-platform-body">
    <div id="datepicker"></div>
    <div class="grid">
      <div class="row row--separated">
        <div class="col heading">
          <h2>Issue Selections</h2>
          <div id="graph_1" class="graph"></div>
          <p>Bit of a dull page this one</p>
        </div><br>
        <div class="col heading">
          <h2>Publication Selections</h2>
          <div id="graph_2" class="graph"></div>
          <p>The graphs should mimic each other</p>
        </div><br>
        <div class="col heading">
          <h2>Publication Fetch Fails</h2>
          <div id="graph_3" class="graph"></div>
          <p>We can do quite complicated queries on this page.</p>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
      // datepicker div - get everything else working first.
      // ----------
      // $('#datepicker').MPDatepicker().on('change', function(dateRange){
      // var DATE_FROM = daterange.from;
      // var DATE_TO   = daterange.to;
      // });

      var DATE_FROM = moment().subtract(30, 'day');
      var DATE_TO   = moment();

      // Set api key and secret
      // ----------------------
        MP.api.setCredentials(localStorage.getItem('issuu_mixpanel_api_key'), localStorage.getItem('issuu_mixpanel_api_secret'));
        console.log(localStorage.getItem('issuu_mixpanel_api_key'));
        console.log(localStorage.getItem('issuu_mixpanel_api_secret'));

      // Crocodile events
      // ----------------
        var EVENT_1 = 'EXTENSION:ISSUE_SELECTED';
        var EVENT_2 = 'EXTENSION:PUBLICATION_SELECTED';
        var EVENT_3 = 'EXTENSION:PUBLICATIONS_FETCH_FAILED';

      // Crocodile Queries
      // -----------------
      function params(query) {
          return{
            from:  DATE_FROM,
            to:    DATE_TO,
            type:  'unique',
            unit:  'day',
            where: query
          };
        }
      //      var where_1 = ''
      //      var where_2 = ''
      //      var where_3 = ''

      // get query segment
      // -----------------
        var $eg_1 = MP.api.segment(EVENT_1, params());
        var $eg_2 = MP.api.segment(EVENT_2, params());
        var $eg_3 = MP.api.segment(EVENT_3, params());

      // draw charts
      // -----------
        $.when($eg_1, $eg_2, $eg_3).done(function(res_1, res_2, res_3) {
          $('#graph_1').MPChart( {chartType: 'line', data: res_1, yLabel: 'Issue Selected'} );
          $('#graph_2').MPChart( {chartType: 'line', data: res_2, yLabel: 'Publication Selected'} );
          $('#graph_3').MPChart( {chartType: 'line', data: res_3, yLabel: 'Publication Fetch Fail'} );
        });
      });
    </script>
  </body>
</html>
