@keyframes animate-width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.progress-bar {
    position: relative;
    height: .2vh;
    background-color: #ADADAD;
    width: 100%;
}

.progress-bar__line {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    /*#FC52A4*/
    background-color: #161616;
}

.progress-bar__line.run-animation {
    animation: 60s linear animate-width;
}
